<template>
  <form>
    <card footer-classes="text-left">
      <h4 class="card-title">{{ $t('contact.title') }}</h4>
      <div>
        <base-input
          id="emailname"
          v-model="model.name"
          v-validate="modelValidations.name"
          :label="$t('contact.name')"
          name="name"
          :error="getError('name')"
        >
        </base-input>
        <base-input
          id="emailaddress"
          v-model="model.email"
          v-validate="modelValidations.email"
          :label="$t('contact.email')"
          type="email"
          name="email"
          :error="getError('email')"
        >
        </base-input>
        <base-textarea
          id="emailmessage"
          v-model="model.msg"
          v-validate="modelValidations.msg"
          :label="$t('contact.message')"
          name="msg"
          type="textarea"
          :error="getError('msg')"
        >
        </base-textarea>
      </div>
      <div class="text-center">
        <base-button
          native-type="submit"
          type="primary"
          @click.native.prevent="validate"
          >{{ $t('contact.send') }}</base-button
        >
      </div>
    </card>
  </form>
</template>
<script>
import BaseTextarea from '../Inputs/BaseTextarea.vue'

export default {
  components: { BaseTextarea },
  data() {
    return {
      model: {
        msg: '',
        email: '',
        name: ''
      },
      modelValidations: {
        msg: {
          required: true
        },
        email: {
          email: true,
          required: true
        },
        name: {
          required: true
        }
      }
    }
  },
  async mounted() {
    // await this.$recaptcha.init()
  },
  beforeDestroy() {
    this.$recaptcha.destroy()
  },
  methods: {
    getError(fieldName) {
      return this.errors.first(fieldName)
    },
    validate() {
      this.$validator
        .validateAll()
        .then((isValid) => {
          if (isValid) {
            return this.$recaptcha.getResponse()
          }
        })
        .then((token) => {
          return this.$emit('on-submit', this.model)
        })
        .then(() => {
          return this.$recaptcha.reset()
        })
    }
  }
}
</script>
<style></style>
