<template>
  <form>
    <card footer-classes="text-left">
      <h4 class="card-title">{{ $t('contact.subscribeTitle') }}</h4>
      <div>
        <base-input
          id="subscriptionname"
          v-model="model.email"
          v-validate="modelValidations.email"
          :label="$t('contact.email')"
          type="email"
          name="email"
          required
          :error="getError('email')"
        >
        </base-input>
      </div>
      <div class="text-center">
        <base-button
          native-type="submit"
          type="primary"
          @click.native.prevent="validate"
          >{{ $t('contact.subscribe') }}</base-button
        >
      </div>
    </card>
  </form>
</template>
<script>
export default {
  data() {
    return {
      model: {
        email: ''
      },
      modelValidations: {
        email: {
          required: true,
          email: true
        }
      }
    }
  },
  methods: {
    getError(fieldName) {
      return this.errors.first(fieldName)
    },
    validate() {
      this.$validator.validateAll().then((isValid) => {
        if (isValid) {
          this.$emit('on-submit', this.model)
        }
      })
    }
  }
}
</script>
<style></style>
