<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <notifications></notifications>
    <sidebar-fixed-toggle-button />
    <side-bar
      :background-color="sidebarBackground"
      :short-title="$t('sidebar.shortTitle')"
      :title="$t('sidebar.title')"
    >
      <template slot="links">
        <sidebar-item
          :link="{
            name: $t('general.water'),
            icon: 'tim-icons icon-support-17',
            path: '/'
          }"
        >
        </sidebar-item>
        <sidebar-item
          :link="{
            name: $t('sidebar.maps'),
            icon: 'tim-icons icon-map-big',
            path: '/map'
          }"
        >
        </sidebar-item>
        <sidebar-item
          :link="{
            name: $t('general.weather'),
            icon: 'tim-icons icon-chart-pie-36',
            path: '/weather'
          }"
        >
        </sidebar-item>
        <sidebar-item
          :link="{
            name: $t('general.blog'),
            icon: 'tim-icons icon-paper',
            path: '/blog'
          }"
        >
        </sidebar-item>
        <sidebar-item
          :link="{
            name: $t('general.contact'),
            icon: 'tim-icons icon-email-85',
            path: '/contact'
          }"
        >
        </sidebar-item>
      </template>
    </side-bar>
    <!--Share plugin (for demo purposes). You can remove it if don't plan on using it-->
    <div class="main-panel" :data="sidebarBackground">
      <dashboard-navbar
        :background-color.sync="sidebarBackground"
      ></dashboard-navbar>
      <router-view name="header"></router-view>

      <div :class="{ content: !isFullScreenRoute }" @click="toggleSidebar">
        <zoom-center-transition :duration="200" mode="out-in">
          <!-- your content here -->
          <nuxt keep-alive></nuxt>
        </zoom-center-transition>
      </div>

      <content-footer v-if="!isFullScreenRoute"></content-footer>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from 'perfect-scrollbar'
import 'perfect-scrollbar/css/perfect-scrollbar.css'

import DashboardNavbar from '@/components/Layout/DashboardNavbar.vue'
import ContentFooter from '@/components/Layout/ContentFooter.vue'
import SidebarFixedToggleButton from '@/components/Layout/SidebarFixedToggleButton.vue'
import { ZoomCenterTransition } from 'vue2-transitions'
function hasElement(className) {
  return document.getElementsByClassName(className).length > 0
}

function initScrollbar(className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`)
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className)
    }, 100)
  }
}
export default {
  components: {
    DashboardNavbar,
    ContentFooter,
    SidebarFixedToggleButton,
    ZoomCenterTransition
  },
  data() {
    return {
      isOpen: false
    }
  },
  computed: {
    sidebarBackground: {
      get() {
        return this.$store.state.localStorage.sidebarColor
      },
      set(val) {
        this.$store.commit('localStorage/setSidebarColor', val)
        localStorage.setItem('setSidebarColor', val)
      }
    },
    isFullScreenRoute() {
      return this.$route.path === '/map'
    }
  },
  created() {},
  mounted() {
    if (localStorage.getItem('setSidebarColor') !== undefined) {
      this.$store.commit(
        'localStorage/setSidebarColor',
        localStorage.getItem('setSidebarColor')
      )
    }
    this.initScrollbar()
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false)
      }
    },
    initScrollbar() {
      const docClasses = document.body.classList
      const isWindows = navigator.platform.startsWith('Win')
      if (isWindows) {
        // if we are on windows OS we activate the perfectScrollbar function
        initScrollbar('sidebar')
        initScrollbar('main-panel')
        initScrollbar('sidebar-wrapper')

        docClasses.add('perfect-scrollbar-on')
      } else {
        docClasses.add('perfect-scrollbar-off')
      }
    }
  }
}
</script>
<style lang="scss">
$scaleSize: 0.95;
@keyframes zoomIn95 {
  from {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
  to {
    opacity: 1;
  }
}

.main-panel .zoomIn {
  animation-name: zoomIn95;
}

@keyframes zoomOut95 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
}

.main-panel .zoomOut {
  animation-name: zoomOut95;
}
</style>
