<template>
  <div>
    <Navbar />
    <nuxt keep-alive />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  async fetch() {
    const { store } = this.$nuxt.context
    await store.dispatch('alert/get')
  },
  computed: {
    ...mapGetters('alert', ['alerts'])
  },
  mounted() {
    const vh = window.innerHeight * 0.01
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`)
    const path = this.$route.path
    const toastName = `toast-class${path.replace('/', '-')}`
    if (this.alerts.length > 0) {
      for (let x = 0; x < this.alerts.length; x++) {
        const alert = this.alerts[x]
        this.$toast.show(
          `
        <div class="flex flex-col w-full my-2 text-left lg:text-center">
            <h2 class="mb-1 font-bold tracking-widest uppercase">${
              alert.event_title
            } ${this.$t('general.ends')} ${this.$dayjs(
            alert.start
          ).toNow()} to ${alert.end}</h2>
            <p class="mx-auto font-medium leading-relaxed lg:w-2/3">${
              alert.description
            }</p>
        </div>`,
          {
            position: 'top-right',
            className: [toastName],
            theme: 'bubble',
            fullWidth: true,
            duration: null,
            fitToScreen: true,
            action: {
              class: 'color: black',
              icon: 'times',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          }
        )
      }
    }
  }
}
</script>
<style>
.toast-class-hydrometry {
  background-color: #a329f5 !important;
  color: #e8f7ff !important;
}
.toast-class-weather {
  background-color: #ffb703 !important;
  color: #2b6cb0 !important;
}
.toast-class-contact {
  background-color: #4cc9f0 !important;
  color: #a329f5 !important;
}
.toast-class-map {
  background-color: #2b6cb0 !important;
  color: #4cc9f0 !important;
}
.toast-class-blog {
  background-color: #ffb703 !important;
  color: #2b6cb0 !important;
}
</style>
