<template>
  <div>
    <div class="row text-center no-gutters">
      <div class="col-lg-4 col-12 align-self-center mb-5 mb-lg-0 mt-2 mt-lg-0">
        <div class="row align-items-center no-gutters">
          <i
            id="weatherIcon"
            class="text-secondary col-6 wi"
            :class="getIconClass(dailyData)"
          ></i>
          <div class="col-6">
            <h1 class="mb-0 mb-lg-4 text-nowrap">
              {{ Math.round(dailyData.temperature) }}&deg;C
            </h1>
            <div class="capitalize">
              {{ dailyData.weather_description }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-12 align-self-center">
        <div class="row">
          <div class="col-3">
            <font-awesome-icon icon="temperature-high" title="Max Temp." />
            <div>{{ Math.round(dailyData.temperature_max) }}&deg;C</div>
            <!-- <div class="text-sm">Max temp</div> -->
          </div>
          <div class="col-3">
            <font-awesome-icon icon="thermometer" title="Feels like temp." />
            <div>{{ Math.round(dailyData.temperature_felt) }}&deg;C</div>
          </div>
          <div class="col-3">
            <font-awesome-icon :icon="['far', 'sun']" title="Sunrise" />
            <div>
              {{ $dayjs(dailyData.sunrise_datetime).format('HH:MM') }}
            </div>
            <!-- <div class="text-sm">Sunrise</div> -->
          </div>
          <div class="col-3">
            <font-awesome-icon icon="wind" title="Wind Speed" />
            <div>{{ Math.round(dailyData.wind_speed) }} ms<sup>-1</sup></div>
            <!-- <div class="text-sm">Wind Speed</div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <font-awesome-icon icon="temperature-low" title="Min Temp." />
            <div>{{ Math.round(dailyData.temperature_min) }}&deg;C</div>
            <!-- <div class="text-sm">Min Temp</div> -->
          </div>
          <div class="col-3">
            <font-awesome-icon icon="tint" title="Humidity" />
            <div>{{ dailyData.humidity }}%</div>
            <!-- <div class="text-sm">Humidity</div> -->
          </div>
          <div class="col-3">
            <font-awesome-icon :icon="['far', 'moon']" title="Sunset" />
            <div>
              {{ $dayjs(dailyData.sunset_datetime).format('HH:MM') }}
            </div>
            <!-- <div class="text-sm">Sunset</div> -->
          </div>
          <div class="col-3">
            <font-awesome-icon icon="cloud" title="Cloudiness." />
            <div>{{ dailyData.clouds }}%</div>
            <!-- <div class="text-sm">Cloudiness</div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div v-if="hourlyData" class="col-12 scroll">
        <card
          v-for="(d, i) in hourlyData"
          :key="i"
          type="contributions"
          :class="[
            'text-center',
            { 'text-primary': isCurrentHour($dayjs(d.datetime)) }
          ]"
          style="width: 10rem"
        >
          <i
            :class="['col-12 col-lg-6 wi', getIconClass(d)]"
            :title="d.weather_description"
            style="font-size: 3em"
          ></i>
          <template slot="footer">
            <div class="row text-center">
              <div class="col-6">
                {{ $dayjs(d.datetime).format('HH:00') }}
              </div>
              <div class="col-6">{{ Math.round(d.temperature) }}&deg;C</div>
            </div>
          </template>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import weatherIcons from '~/config/icons.json'
export default {
  name: 'WeatherTab',
  props: {
    label: {
      type: String,
      default: () => ''
    },
    dailyData: {
      type: Object,
      default: () => {}
    },
    hourlyData: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    isCurrentHour(date) {
      const now = this.$dayjs().subtract(1, 'hour')
      return date.isAfter(now)
    },
    getIconClass(data) {
      let time = ''
      const timeChar = data.weather_icon.slice(-1)

      if (timeChar === 'n') {
        time = 'night'
      } else {
        time = 'day'
      }
      return 'wi-' + weatherIcons[data.weather_id][time]
    }
  }
}
</script>
<style scoped>
div.scroll {
  overflow: auto;
  white-space: nowrap;
}

div.scroll div {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 601px) {
  #weatherIcon {
    font-size: 6rem;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  #weatherIcon {
    font-size: 3rem;
  }
}
</style>
