<template>
  <div class="row">
    <div class="col-lg-8 col-md-12 ml-auto mr-auto">
      <contact-form @on-submit="onMailSubmit" />
      <subscribe-form @on-submit="onSubscribeSubmit" />
    </div>
  </div>
</template>
<script>
import swal from 'sweetalert2'
import ContactForm from '../components/ValidationForms/ContactForm.vue'
import SubscribeForm from '../components/ValidationForms/SubscribeForm.vue'
export default {
  name: 'Contact',
  components: {
    ContactForm,
    SubscribeForm
  },
  data() {
    return {}
  },
  head: {
    title: 'Contact Page',
    meta: [
      {
        hid: 'contact page',
        name: 'Hydrhone Contact Page',
        content:
          "Nous fournissions cette page de contact afin de permettre aux utilisateurs de fournir leur feedbacks constructifs et de permettre l'amélioration du site en continue"
      }
    ]
  },
  methods: {
    onMailSubmit(model) {
      this.$store
        .dispatch('mailing/contact', model)
        .then((res) => {
          swal({
            title: this.$t('contact.send_succesful'),
            text: this.$t('contact.title'),
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          })
        })
        .catch((e) => {
          this.$notify({
            type: 'danger',
            message: this.$t('contact.send_error'),
            icon: 'tim-icons icon-alert-circle-exc'
          })
        })
    },
    onSubscribeSubmit(model) {
      this.$store
        .dispatch('mailing/subscribe', {
          email: model.email
        })
        .then((res) => {
          swal({
            title: this.$t('contact.subscribe_succesful'),
            text: this.$t('contact.subscribeTitle'),
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          })
        })
        .catch((e) => {
          this.$notify({
            type: 'danger',
            message: this.$t('contact.subscribe_error'),
            icon: 'tim-icons icon-alert-circle-exc'
          })
        })
    }
  }
}
</script>
<style></style>
