<template>
  <div>
    <div class="row">
      <div class="col-12 d-flex d-sm-block pb-3">
        <div
          class="btn-group btn-group-toggle float-right"
          data-toggle="buttons"
        >
          <label
            v-for="(source, index) in sources"
            :id="index"
            :key="source.title"
            class="btn btn-sm btn-primary btn-simple"
            :class="{ active: activeIndex === source.id }"
          >
            <input
              type="radio"
              name="options"
              autocomplete="off"
              :checked="activeIndex === source.id"
              @click="initForecastChart(source.id)"
            />
            <span class="d-none d-block">{{ source.title }}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Stats Cards -->
      <div
        v-for="card in statsCards"
        :key="card.title"
        class="col-lg-4 col-md-6"
      >
        <stats-card
          v-show="card.title"
          :title="card.title"
          :sub-title="card.subTitle"
          :type="card.type"
          :icon="card.icon"
          :text-color="card.textColor"
        >
          <div slot="footer">
            <i class="tim-icons icon-refresh-01" />{{ $t('general.updated') }}
            {{ currentUpdateTimeFromNow }}
          </div>
        </stats-card>
      </div>
      <!-- Big Chart -->
      <div class="col-12">
        <card v-if="forecastDischargeForecastTimes.length > 0" type="chart">
          <template slot="header">
            <h5 class="card-category">
              {{ $t('water.discharge') }}
            </h5>
            <h2 class="card-title">
              {{ $t('water.forecast') }}
            </h2>
          </template>
          <div class="chart-area">
            <line-chart
              ref="foecastChart"
              style="height: 100%"
              :chart-data="ForecastDischargeLineChart.chartData"
              :gradient-colors="ForecastDischargeLineChart.gradientColors"
              :gradient-stops="ForecastDischargeLineChart.gradientStops"
              :extra-options="ForecastDischargeLineChart.extraOptions"
            />
          </div>
        </card>
      </div>

      <!-- Small charts -->
      <div v-if="temperatures.length > 0" class="col-lg-4">
        <card type="chart">
          <template slot="header">
            <h5 class="card-category">
              {{ $t('water.history') }}
            </h5>
            <h2 class="card-title">
              <font-awesome-icon
                class="text-warning"
                icon="thermometer-quarter"
                title="Temp"
              />
              {{ $t('water.temperature') }}
            </h2>
          </template>
          <div class="chart-area">
            <line-chart
              style="height: 100%"
              :chart-data="temperatureLineChart.chartData"
              :gradient-colors="temperatureLineChart.gradientColors"
              :gradient-stops="temperatureLineChart.gradientStops"
              :extra-options="temperatureLineChart.extraOptions"
            />
          </div>
        </card>
      </div>
      <div v-if="levels.length > 0" class="col-lg-4">
        <card type="chart">
          <template slot="header">
            <h5 class="card-category">
              {{ $t('water.history') }}
            </h5>
            <h2 class="card-title">
              <font-awesome-icon
                class="text-primary"
                icon="level-up-alt"
                title="Level"
              />
              {{ $t('water.level') }}
            </h2>
          </template>
          <div class="chart-area">
            <line-chart
              style="height: 100%"
              :chart-data="LevelLineChart.chartData"
              :gradient-colors="LevelLineChart.gradientColors"
              :gradient-stops="LevelLineChart.gradientStops"
              :extra-options="LevelLineChart.extraOptions"
            />
          </div>
        </card>
      </div>
      <div v-if="discharges.length > 0" class="col-lg-4">
        <card type="chart">
          <template slot="header">
            <h5 class="card-category">
              {{ $t('water.history') }}
            </h5>
            <h2 class="card-title">
              <font-awesome-icon
                class="text-info"
                icon="tachometer-alt"
                title="Discharge"
              />
              {{ $t('water.discharge') }}
            </h2>
          </template>
          <div class="chart-area">
            <line-chart
              style="height: 100%"
              :chart-data="DischargeLineChart.chartData"
              :gradient-colors="DischargeLineChart.gradientColors"
              :gradient-stops="DischargeLineChart.gradientStops"
              :extra-options="DischargeLineChart.extraOptions"
            />
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import LineChart from '@/components/Charts/LineChart'
import * as chartConfigs from '@/components/Charts/config'
import StatsCard from '@/components/Cards/StatsCard'
import config from '@/config'

const forecastChartDatasetOptions = {
  fill: true,
  borderColor: config.colors.primary,
  borderWidth: 2,
  borderDash: [],
  borderDashOffset: 0.0,
  pointBorderColor: 'rgba(255,255,255,0)',
  pointHoverBackgroundColor: config.colors.primary,
  pointBorderWidth: 20,
  pointHoverRadius: 4,
  pointHoverBorderWidth: 15,
  pointRadius: 4
}
export default {
  name: 'Hydrometry',
  components: {
    LineChart,
    StatsCard
  },
  data() {
    return {
      sources: [],
      currentData: {
        levels: {},
        times: {},
        discharges: {},
        temperatures: {}
      },
      forecastData: {
        times: {},
        discharges: {}
      },
      activeIndex: 0
    }
  },
  async fetch() {
    this.sources = await this.$axios
      .$get('/water/sources/?is_active=True')
      .then((res) => res)
    this.sources.forEach(function (part, index) {
      if (this.sources[index].is_primary === true) {
        this.activeIndex = this.sources[index].id
      }
    }, this)
    this.currentData = await this.$axios
      .$get(
        `/water/datapoints/?datetime__lte=${this.$dayjs().format(
          'YYYY-MM-DDTHH:mm:ss'
        )}&datetime__gte=${this.$dayjs()
          .subtract(7, 'days')
          .format('YYYY-MM-DDTHH:mm:ss')}&ordering=-datetime`
      )
      .then((res) => {
        const levels = {}
        const discharges = {}
        const temperatures = {}
        const times = {}
        res.forEach(function (part, index) {
          const s = res[index].source_id
          if (!times[s]) {
            times[s] = []
          }
          if (!discharges[s]) {
            discharges[s] = []
          }
          if (!levels[s]) {
            levels[s] = []
          }
          if (!temperatures[s]) {
            temperatures[s] = []
          }
          if (res[index].datetime) {
            times[s].push(res[index].datetime)
          }
          if (res[index].level) {
            levels[s].push(res[index].level / 100.0)
          }
          if (res[index].discharge) {
            discharges[s].push(res[index].discharge)
          }
          if (res[index].temperature) {
            temperatures[s].push(res[index].temperature)
          }
        }, this)
        return { levels, discharges, temperatures, times }
      })
    this.forecastData = await this.$axios
      .$get(
        `/water/discharge_probabilistic_forecasts/?datetime__gte=${this.$dayjs()
          .subtract(1, 'days')
          .format('YYYY-MM-DDTHH:mm:ss')}&datetime__lte=${this.$dayjs()
          .add(4, 'days')
          .format('YYYY-MM-DDTHH:mm:ss')}&ordering=datetime`
      )
      .then((res) => {
        const discharges = {}
        const times = {}
        res.forEach(function (part, index) {
          const s = res[index].source
          if (!times[s]) {
            times[s] = []
          }
          if (!discharges[s]) {
            discharges[s] = []
          }
          times[s].push(res[index].datetime)
          discharges[s].push(res[index].value)
        }, this)
        return { discharges, times }
      })
  },
  head: {
    title: 'Données Hydrométriques du Rhône',
    meta: [
      {
        hid: 'hydrometry',
        name: 'Données Hydrométriques du Rhône',
        content:
          "L'hydrométrie est la base de cette application. En une page, vous pouvez visualiser les données de niveau, température et surtout débit afin de vous donner un aperçu de la difficulté et faisabilité de la descente du Rhône à Genève dans ces conditions. Des indicateurs visuels fournissent une donnée sur la dangerosité de la descente en fonction de la station hydrométrique et du débit. Les données sont récupérées sur la site de la confédération et mis à jour en continue."
      }
    ]
  },
  computed: {
    levels() {
      if (this.currentData.levels[this.activeIndex]) {
        return this.currentData.levels[this.activeIndex]
      } else {
        return []
      }
    },
    discharges() {
      if (this.currentData.discharges[this.activeIndex]) {
        return this.currentData.discharges[this.activeIndex]
      } else {
        return []
      }
    },
    temperatures() {
      if (this.currentData.temperatures[this.activeIndex]) {
        return this.currentData.temperatures[this.activeIndex]
      } else {
        return []
      }
    },
    times() {
      if (this.currentData.times[this.activeIndex]) {
        return this.currentData.times[this.activeIndex]
      } else {
        return []
      }
    },
    forecastDischargeForecastTimes() {
      if (this.forecastData.times[this.activeIndex]) {
        return this.forecastData.times[this.activeIndex]
      } else {
        return []
      }
    },
    forecastDischargeForecast() {
      if (this.forecastData.discharges[this.activeIndex]) {
        return this.forecastData.discharges[this.activeIndex]
      } else {
        return []
      }
    },
    forecastDischargeForecastColor() {
      if (this.forecastData.discharges[this.activeIndex]) {
        return this.forecastData.discharges[this.activeIndex].map((x) =>
          this.getDangerLevelColorHex(x, config.colors.primary)
        )
      } else {
        return []
      }
    },
    currentUpdateTimeFromNow() {
      return this.$dayjs(this.times[0]).fromNow()
    },
    temperatureLineChart() {
      return {
        extraOptions: chartConfigs.temperatureChartOptions,
        chartData: {
          labels: this.times,
          datasets: [
            {
              label: 'Data',
              fill: true,
              borderColor: '#ff8a76',
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              pointBackgroundColor: '#ff8a76',
              pointBorderColor: 'rgba(255,255,255,0)',
              pointHoverBackgroundColor: '#ff8a76',
              pointBorderWidth: 20,
              pointHoverRadius: 2,
              pointHoverBorderWidth: 15,
              pointRadius: 2,
              data: this.temperatures
            }
          ]
        },
        gradientColors: config.colors.orangeGradient,
        gradientStops: [1, 0.4, 0]
      }
    },
    LevelLineChart() {
      return {
        extraOptions: chartConfigs.levelChartOptions,
        chartData: {
          labels: this.times,
          datasets: [
            {
              label: 'Data',
              fill: true,
              borderColor: '#e14eca',
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              pointBackgroundColor: '#e14eca',
              pointBorderColor: 'rgba(255,255,255,0)',
              pointHoverBackgroundColor: '#e14eca',
              pointBorderWidth: 20,
              pointHoverRadius: 2,
              pointHoverBorderWidth: 15,
              pointRadius: 2,
              data: this.levels
            }
          ]
        },
        gradientColors: config.colors.purpleGradient,
        gradientStops: [1, 0.4, 0]
      }
    },
    DischargeLineChart() {
      return {
        extraOptions: chartConfigs.dischargeChartOptions,
        chartData: {
          labels: this.times,
          datasets: [
            {
              label: 'Data',
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              pointBackgroundColor: config.colors.info,
              pointBorderColor: 'rgba(255,255,255,0)',
              pointHoverBackgroundColor: config.colors.info,
              pointBorderWidth: 20,
              pointHoverRadius: 2,
              pointHoverBorderWidth: 15,
              pointRadius: 2,
              data: this.discharges
            }
          ]
        },
        gradientColors: config.colors.blueGradient,
        gradientStops: [1, 0.4, 0]
      }
    },
    ForecastDischargeLineChart() {
      const dangerRange = this.getDangerRange(this.activeIndex)
      const warningRange = this.getWarningRange(this.activeIndex)
      const annotations = []
      if (warningRange && warningRange.length === 2) {
        annotations.push({
          id: 'warning-box',
          type: 'box',
          xScaleID: 'x',
          yScaleID: 'y',
          yMin: warningRange[0],
          yMax: warningRange[1],
          backgroundColor: 'rgba(255, 103, 0, 0.3)',
          // borderColor: 'rgb(255, 0, 0)',
          borderWidth: 1
        })
      }
      if (dangerRange) {
        annotations.push({
          id: 'danger-box',
          type: 'box',
          xScaleID: 'x',
          yScaleID: 'y',
          yMin: dangerRange,
          backgroundColor: 'rgba(243, 32, 19, 0.3)',
          // borderColor: 'rgb(255, 0, 0)',
          borderWidth: 1
        })
      }
      return {
        extraOptions: {
          ...chartConfigs.forecastChartOptions,
          annotation: {
            drawTime: 'afterDraw',
            events: ['dblclick'],
            annotations
          },
          plugins: {
            legend: {
              display: true,
              labels: {
                color: 'rgb(255, 99, 132)'
              }
            }
          }
        },
        chartData: {
          labels: this.forecastDischargeForecastTimes,
          datasets: [
            {
              ...forecastChartDatasetOptions,
              pointBackgroundColor: config.colors.primary,
              data: this.forecastDischargeForecast
            }
          ]
        },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0]
      }
    },
    statsCards() {
      const res = []
      if (this.temperatures.length > 0) {
        res.push({
          title: this.temperatures[0].toFixed(1).toString() + '°C',
          subTitle: this.$t('water.currentTemperature'),
          type: 'warning',
          icon: 'thermometer-quarter'
        })
      }
      if (this.levels.length > 0) {
        res.push({
          title: this.levels[0].toFixed(1).toString() + 'm',
          subTitle: this.$t('water.currentLevel'),
          type: 'primary',
          icon: 'level-up-alt'
        })
      }
      if (this.discharges.length > 0) {
        const textColor = this.getDangerLevelColorHex(this.discharges[0])
        res.push({
          title: Math.round(this.discharges[0]) + 'm³/s',
          subTitle: this.$t('water.currentDischarge'),
          type: 'info',
          icon: 'tachometer-alt',
          textColor
        })
      }
      return res
    }
  },
  methods: {
    initForecastChart(index) {
      this.activeIndex = index
    },
    getDangerLevelColorHex(discharge, defaultColor = '#ffffff') {
      const source = this.sources.filter(
        (obj) => obj.id === this.activeIndex
      )[0]
      const dangerRange = source.nd_ranges
      let dangerLevel = 0
      if (dangerRange.length > 0) {
        for (let i = 1; i < dangerRange.length; i++) {
          if (discharge > dangerRange[i]) {
            dangerLevel = i
          }
        }
      }
      if (dangerLevel === 0) {
        return defaultColor
      } else if (dangerLevel === 1 || dangerLevel === 2) {
        return '#ff6700'
      } else {
        return '#f32013'
      }
    },
    getDangerRange(sourceId) {
      const source = this.sources.filter((obj) => obj.id === sourceId)[0]
      const dangerRange = source.nd_ranges
      if (dangerRange.length >= 3) {
        return dangerRange[2]
      }
      return null
    },
    getWarningRange(sourceId) {
      const source = this.sources.filter((obj) => obj.id === sourceId)[0]
      const warningRange = source.nd_ranges
      if (warningRange.length >= 3) {
        return [warningRange[0], warningRange[2]]
      }
      return []
    }
  }
}
</script>
<style></style>
