<template>
  <div class="GMap">
    <div ref="map" class="GMap__Wrapper" />
    <div id="legend"></div>
    <slot />
    <font-awesome-icon
      id="iconLocalize"
      icon="crosshairs"
      title="Feels like temp."
      size="2x"
    />
  </div>
</template>

<script>
import { Loader } from '@googlemaps/js-api-loader'
import mapStyle from '~/config/mapStyle.json'
export default {
  name: 'FullScreen',
  data() {
    return {
      map: null,
      google: null,
      icons: {
        boataccess: { name: 'Accès Bateau', icon: 'boataccess.png' },
        danger: { name: 'Danger Zone', icon: 'danger.png' },
        chillarea: { name: 'Chill Area', icon: 'chillarea.png' },
        // 'interest': {'name': "Points d'Interêt", 'icon': 'interest.png'},
        restauration: { name: 'Restauration', icon: 'bar.png' }
      },
      markers: [
        {
          location: { lat: 46.2035, lng: 6.13284 },
          type: 'boataccess',
          title: 'Quai du Seujet',
          description:
            "Rampe d'accès rapide au Rhône à côté du parc Saint-Jean. Tendance à être ridiculement saturée pendant les heures de pointe.",
          stop: 'Seujet (50m) ou Palladium (200m)'
        },
        {
          location: { lat: 46.20266, lng: 6.11483 },
          type: 'boataccess',
          title: 'Plage du pont Butin',
          description:
            "Espace naturelle se situant au pied des Jardins du Rhône à côté du Pont Butin. Accès à pied sur 500m par un sentier en gravier. Privilégier le matin car beaucoup de monde l'après-midi par temps estivale",
          stop: 'Concorde (500m)'
        },
        {
          location: { lat: 46.19303, lng: 6.09155 },
          type: 'boataccess',
          title: 'Ponton du Lignon',
          description:
            'Première accès au niveau du Lignon par un petit Ponton.',
          stop: 'Vernier, Verseuse (700m)'
        },
        {
          location: { lat: 46.21133, lng: 6.09253 },
          type: 'boataccess',
          title: 'Zone du Moulin',
          description:
            "Espace publique avec toilette, table de pique-nique, ponton. Il est très facile de garer son embarcation au ponton et de s'y arrêter pour manger",
          stop: 'Vernier, De Sauvage (1km) ou Lignon Cité (1.3km)'
        },
        {
          location: { lat: 46.20274, lng: 6.07606 },
          type: 'boataccess',
          title: "Sous l'autoroute",
          description:
            "Directement sous l'autoroute, cet arrêt peu fréquenté permet de rentrer ou sortir de l'eau facilement. Beaucoup de possibilité de parking se trouve à proximité.",
          stop: 'Vernier, Parfumerie (500m)'
        },
        {
          location: { lat: 46.19899, lng: 6.04406 },
          type: 'boataccess',
          title: 'Peney',
          description:
            "Après 3h de descente, vous voilà arrivez à votre destination. La zone se prête particulièrement à la sortie de l'eau et à un arrêt pique nique.",
          stop: 'Satigny, Peney Dessous (200m) ou Satigny, Bois de Bay (300m)'
        },
        {
          location: { lat: 46.20317, lng: 6.13177 },
          type: 'danger',
          title: 'Pont Sous-Terre',
          description:
            "L'été, de nombreux jeunes et moins jeunes sautent de ce pont qui sont cense vérifier les arriver d'embarcation. Par précaution, Il est conseillé de faire attention lors du franchissement de ce pont"
        },
        {
          location: { lat: 46.19872, lng: 6.03298 },
          type: 'danger',
          title: 'Barrage de Verbois',
          description:
            "Il est conseillé de sortir à Peney et de ne pas s'aventurer en direction du barrage"
        },
        {
          location: { lat: 46.2023, lng: 6.12579 },
          type: 'chillarea',
          title: 'Promenade de la Jonction',
          description:
            "Tout le long de cette promenade et jusqu'à la pointe, il est possible de se poser et de se baigner dans le Rhône. L'accès à la rivière se fait grâce à des échelles. Attention : Courant fort par moment.",
          stop: 'Jonction (200m)'
        },
        {
          location: { lat: 46.20266, lng: 6.11483 },
          type: 'chillarea',
          title: 'Plage du pont Butin',
          description:
            "Superbe Espace naturelle. Malheureusement, la fréquentation et l'incivilité en font un espace particulièrement pollué en été",
          stop: 'Concorde (500m)'
        },
        {
          location: { lat: 46.21108, lng: 6.0938 },
          type: 'chillarea',
          title: 'Zone du Moulin',
          description:
            'Espace publique avec toilette, table de pique-nique, ponton.',
          stop: 'Vernier, De Sauvage (1km) ou Lignon Cité (1.3km)'
        },
        {
          location: { lat: 46.19886, lng: 6.04447 },
          type: 'chillarea',
          title: 'Peney',
          description: 'Petit parc propice à la détente',
          stop: 'Satigny, Peney Dessous (200m) ou Satigny, Bois de Bay (300m)'
        },
        {
          location: { lat: 46.20165, lng: 6.12327 },
          type: 'restauration',
          title: 'Buvette de la Jonction',
          description:
            'Petite buvette avec bières artisanaux, petite restauration et DJ set'
        },
        {
          location: { lat: 46.20059, lng: 6.04449 },
          type: 'restauration',
          title: 'Café de Peney',
          description:
            'Restauration Bistronomique de qualité en terasse, très agréable après une descente. Prevoir un budget.'
        }
      ],
      nav: null,
      gettingLocation: false,
      defaultCenter: {
        lat: 46.2,
        lng: 6.08
      },
      myPosition: null,
      mapOptions: {
        zoom: 14,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false,
        restriction: {
          latLngBounds: {
            north: 46.25,
            south: 46.15,
            east: 6.2,
            west: 5.95
          },
          strictBounds: false
        },
        scrollwheel: false, // we disable de scroll over the map, it is a really annoing when you scroll through page
        styles: mapStyle
      }
    }
  },
  head: {
    title: 'Map Interactive du Rhône',
    meta: [
      {
        hid: 'Map Interactive du Rhône',
        name: 'Map Interactive du Rhône',
        content:
          "Cette map interactive donne de précieuse informations sur les points d'intérêt lors de la descente du Rhône à Genève. Vous pouvez visualiser votre position actuelle en fonction de ces différents points et ainsi planifier au mieux votre entrée et sorties du fleuve. Des marqueurs indiques la présence de rampe d'accès, de chemin, station de gonflage pour vos embarcations pneumatiques, d'endroits de baignade etc.."
      }
    ]
  },
  mounted() {
    const GMapSettings = {
      apiKey: process.env.GOOGLE_API_KEY,
      version: 'weekly',
      libraries: ['places']
    }
    const loader = new Loader(GMapSettings)
    loader.load().then(() => {
      this.google = window.google
      this.initMap()
      this.$emit('init', this.google)
      this.$emit('loaded', this.google)
      const nav = document.getElementsByTagName('nav')
      if (nav.length > 0) {
        this.nav = nav[0]
        this.nav.classList.add('fixed-top')
        this.nav.classList.add('navbar-transparent')
      }
    })
  },

  beforeDestroy() {
    if (this.nav) {
      this.nav.classList.remove('navbar-transparent')
      this.nav.classList.remove('bg-white')
      this.nav.classList.remove('fixed-top')
    }
  },

  methods: {
    initMap() {
      this.map = new this.google.maps.Map(this.$refs.map, {
        center: this.defaultCenter,
        zoom: this.mapOptions.zoom,
        ...this.mapOptions
      })
      const transitLayer = new this.google.maps.TransitLayer()
      transitLayer.setMap(this.map)
      const bikeLayer = new this.google.maps.BicyclingLayer()
      bikeLayer.setMap(this.map)
      const centerControlDiv = document.createElement('div')
      this.centerControl(centerControlDiv, this.map)
      this.map.controls[this.google.maps.ControlPosition.RIGHT_BOTTOM].push(
        centerControlDiv
      )
      this.initMarkers()
    },
    initMarkers() {
      this.markers.forEach((marker) => {
        let contentString =
          '<card class="text-center">' +
          `<div slot="header">${this.icons[marker.type].name}</div>` +
          `<h4 class="card-title">${marker.title}</h4>` +
          `<blockquote class="blockquote mb-0">` +
          `<p>${marker.description}</p>` +
          `</blockquote>`
        if (marker.stop) {
          contentString += `<div slot="footer" class="text-muted">Arrêts: ${marker.stop}</div>`
        }
        contentString += '</card>'
        const infowindow = new this.google.maps.InfoWindow({
          content: contentString
        })
        const m = new this.google.maps.Marker({
          position: marker.location,
          icon: require(`~/assets/img/${this.icons[marker.type].icon}`),
          map: this.map,
          title: marker.title
        })
        m.addListener('click', () => {
          infowindow.open(this.map, m)
        })
      }, this)

      const legend = document.getElementById('legend')

      for (const key in this.icons) {
        const type = this.icons[key]
        const name = type.name
        const icon = type.icon
        const div = document.createElement('div')
        div.innerHTML = `<img width=48px height=48px src=${require(`~/assets/img/${icon}`)}> ${name}`
        legend.appendChild(div)
      }
      this.map.controls[this.google.maps.ControlPosition.RIGHT_TOP].push(legend)
    },
    centerControl(controlDiv, map) {
      // Set CSS for the control border.
      const controlUI = document.createElement('div')
      controlUI.style.backgroundColor = '#fff'
      controlUI.style.border = '1px solid #fff'
      controlUI.style.borderRadius = '3px'
      controlUI.style.boxShadow = '0 1px 6px rgba(0,0,0,.3)'
      controlUI.style.cursor = 'pointer'
      controlUI.style.marginBottom = '20px'
      controlUI.style.width = '40px'
      controlUI.style.height = '40px'
      controlUI.style.marginRight = '9px'
      controlUI.style.textAlign = 'center'
      controlUI.title = 'Click to recenter the map'
      controlUI.style.position = 'relative'
      controlUI.style.display = 'flex'
      controlUI.style.alignItems = 'center'
      controlUI.style.justifyContent = 'center'
      controlUI.className = 'logo'
      controlDiv.appendChild(controlUI)
      // Set CSS for the control interior.
      const controlText = document.getElementById('iconLocalize')
      controlUI.appendChild(controlText)

      // Setup the click event listeners: simply set the map to Chicago.
      controlUI.addEventListener('click', () => {
        if (this.gettingLocation === false) {
          this.fetchData()
        }
        if (this.myPosition) {
          map.setCenter(this.myPosition.position)
        }
      })
    },
    fetchData() {
      if (!('geolocation' in navigator)) {
        this.errorStr = 'Geolocation is not available.'
        return
      }
      this.gettingLocation = true
      navigator.geolocation.watchPosition(
        (pos) => {
          const position = {
            lat: pos.coords.latitude,
            lng: pos.coords.longitude
          }
          if (!this.myPosition) {
            this.myPosition = new this.google.maps.Marker({
              position,
              map: this.map,
              title: 'My position'
            })
          }
          this.myPosition.setPosition(position)
        },
        (err) => {
          this.gettingLocation = false
          this.errorStr = err.message
        }
      )
    }
  }
}
</script>
<style>
.GMap__Wrapper {
  width: 100%;
  height: 100vh;
  display: block;
}
#legend {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: white;
  margin-top: 60px;
  border: 3px solid #000;
}
@media only screen and (max-width: 600px) {
  #legend {
    margin-top: 0px;
  }
}

#legend h3 {
  margin-top: 0;
}

#legend img {
  vertical-align: middle;
}
</style>
