<template>
  <div class="row">
    <card class="col-md-10 ml-auto mr-auto">
      <template slot="header">
        <h5 class="card-category">
          {{ $t('general.updated') }}:
          {{ $dayjs(currentWeather.datetime).fromNow() }}
        </h5>
        <h2 class="card-title">Geneve</h2>
      </template>

      <tabs
        type="primary"
        tab-nav-wrapper-classes="col-lg-2 col-0 "
        tab-content-classes="col-lg-10 col-12"
        tab-nav-classes="p-0 m-0"
        :vertical="isLargeThanSm"
        :centered="!isLargeThanSm"
        square
        class="row"
      >
        <tab-pane :label="$t('general.today')">
          <weather-tab
            :daily-data="currentWeather"
            :hourly-data="
              hourlyData[$dayjs(currentWeather.datetime).format('YYYY-MM-DD')]
            "
          />
        </tab-pane>
        <tab-pane
          v-for="daily in dailyData"
          :key="daily.datetime"
          :label="$dayjs(daily.datetime).format('dddd')"
        >
          <weather-tab
            :daily-data="daily"
            :hourly-data="
              hourlyData[$dayjs(daily.datetime).format('YYYY-MM-DD')]
            "
          />
        </tab-pane>
      </tabs>
    </card>
  </div>
</template>

<script>
import { TabPane, Tabs } from '@/components'
import WeatherTab from '~/components/WeatherTab.vue'
export default {
  components: {
    TabPane,
    Tabs,
    WeatherTab
  },
  data() {
    return {
      options: {
        scales: {
          yAxes: [
            {
              gridLines: {
                display: true
              },
              ticks: {
                fontColor: 'black'
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                fontColor: 'black'
              },
              type: 'time',
              time: {
                unit: 'hour'
              }

              // ticks: {
              //   maxTicksLimit: 20,
              // },
              // gridLines: {
              //   display: false,
              // },
            }
          ]
        },
        legend: {
          display: true
        },
        pan: {
          enabled: true,
          mode: 'xy'
        },
        zoom: {
          enabled: true,
          mode: 'xy'
        },
        responsive: true,
        maintainAspectRatio: false
      },
      sourceID: 1,
      currentWeather: {},
      hourlyData: {},
      dailyData: []
    }
  },
  async fetch() {
    this.currentWeather = await this.$axios
      .$get(`/weather/sources/${this.sourceID}/current/`)
      .then((res) => res)
    this.hourlyData = await this.$axios
      .$get(
        `/weather/sources/${
          this.sourceID
        }/hourly_forecast_data/?datetime__gte=${this.$dayjs().format(
          'YYYY-MM-DD'
        )}T00:00:00&ordering=datetime`
      )
      .then((res) => {
        const tmp = {}
        res.forEach((data) => {
          const date = this.$dayjs(data.datetime).format('YYYY-MM-DD')
          if (!tmp[date]) {
            tmp[date] = []
          }
          tmp[date].push(data)
        }, this)
        return tmp
      })
    const now = this.$dayjs().add(1, 'days').format('YYYY-MM-DD')
    this.dailyData = await this.$axios
      .$get(
        `/weather/sources/${
          this.sourceID
        }/daily_forecast_data/?start=${now}&end=${this.$dayjs()
          .add(4, 'days')
          .format('YYYY-MM-DD')}&ordering=datetime`
      )
      .then((res) => res)
  },
  head: {
    title: 'Météo Genevoise (Geneva)',
    meta: [
      {
        hid: 'Météo Genevoise',
        name: 'Météo Genevoise',
        content:
          "La composante primordiale à une bonne descente du Rhône est tout simplement la météo. Grace aux données fournit par OpenWeather, nous vous fournissions la météo à 4 jours avec une granularité à l'heure. Vous pouvez ainsi définir si la descente du Rhône peut être maintenu directement depuis hydrhone.ch"
      }
    ]
  },
  computed: {
    isLargeThanSm() {
      return this.$breakpoints.lg || this.$breakpoints.xl // Is Large than sm include sm
    }
  }
}
</script>
