<template>
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a
            href="https://www.24heures.ch/les-bords-du-rhone-battent-des-records-de-frequentation-722165562322"
            target="_blank"
            rel="noopener"
            class="nav-link"
          >
            Take your trash home!
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.ge.ch/dossier/baignade-du-rhone/baignade-du-rhone/bons-comportements"
            target="_blank"
            rel="noopener"
            class="nav-link"
          >
            Les bons comportements
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.ge.ch/dossier/baignade-du-rhone/baignade-du-rhone/zone-baignade-conseillee"
            target="_blank"
            rel="noopener"
            class="nav-link"
          >
            La zone de baignade conseillée
          </a>
        </li>
      </ul>

      <div class="copyright">
        &copy; {{ year }}, made with <i class="tim-icons icon-heart-2"></i> by
        <a href="https://decoster.io" rel="noopener" target="_blank">Me</a>
      </div>
      <div class="text-center">
        <p class="nav font-italic">
          {{ $t('description') }}
        </p>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      year: new Date().getFullYear()
    }
  }
}
</script>
<style></style>
