<template>
  <base-nav
    v-model="showMenu"
    class="navbar-absolute top-navbar"
    type="white"
    :transparent="true"
  >
    <div slot="brand" class="navbar-wrapper">
      <div class="navbar-minimize d-inline"><sidebar-toggle-button /></div>
      <div
        class="navbar-toggle d-inline"
        :class="{ toggled: $sidebar.showSidebar }"
      >
        <button type="button" class="navbar-toggler" @click="toggleSidebar">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <h1 class="navbar-brand">{{ routeName }}</h1>
    </div>

    <ul class="navbar-nav ml-auto">
      <base-dropdown
        tag="li"
        title-tag="div"
        :menu-on-right="true"
        title-classes="nav-link"
        class="nav-item"
        :is-disabled="alerts.length === 0"
      >
        <template slot="title">
          <div
            class="d-block"
            :class="{ notification: alerts.length > 0 }"
          ></div>
          <i class="tim-icons icon-alert-circle-exc"></i>
          <p class="d-lg-none">{{ $t('general.alerts') }}</p>
        </template>
        <li
          v-for="alert in alerts"
          :key="alert.id"
          class="dropdown-item"
          @click="showModal(alert)"
        >
          <strong>{{ alert.event_title }}</strong> (start:
          {{ $dayjs(alert.start).fromNow() }}, end:
          {{ $dayjs(alert.end).fromNow() }})
        </li>
      </base-dropdown>
      <base-dropdown
        tag="li"
        title-tag="div"
        :menu-on-right="true"
        title-classes="nav-link"
        menu-classes="dropdown-black fixed-plugin"
      >
        <template slot="title">
          <i class="tim-icons icon-settings-gear-63"></i>
          <p class="d-lg-none">{{ $t('general.settings') }}</p>
        </template>
        <li class="header-title">Sidebar Background</li>
        <li class="adjustments-line">
          <div class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span
                v-for="item in sidebarColors"
                :key="item.color"
                class="badge filter"
                :class="[`badge-${item.color}`, { active: item.active }]"
                :data-color="item.color"
                @click="changeSidebarBackground(item)"
              ></span>
            </div>
            <div class="clearfix"></div>
          </div>
        </li>
        <li class="header-title">Light Mode</li>
        <li class="adjustments-line">
          <div class="togglebutton switch-change-color mt-3">
            <span class="label-switch">LIGHT</span>
            <base-switch v-model="darkMode"></base-switch>
            <span class="label-switch label-right">DARK</span>
          </div>
        </li>
        <li class="header-title">Language</li>
        <li class="adjustments-line">
          <div class="togglebutton switch-sidebar-mini">
            <span class="label-switch">EN</span>
            <base-switch v-model="isFrench"></base-switch>
            <span class="label-switch label-right">FR</span>
          </div>
        </li>
        <li class="button-container mt-4"></li>
      </base-dropdown>
    </ul>
    <modal
      :show.sync="modal"
      class="modal-danger"
      header-classes="justify-content-center"
      modal-classes="modal-xl"
      type="notice"
    >
      <div slot="header" class="modal-profile">
        <i class="tim-icons icon-alert-circle-exc" style="font-size: 2em"></i>
      </div>
      <strong
        >{{ modalAlert.event_title }} ({{ modalAlert.sender_name }})</strong
      >
      <div class="row">
        <base-input class="col-6" :label="$t('alert.start')" :readonly="true">
          <el-date-picker
            v-model="modalAlert.start"
            :readonly="true"
            type="datetime"
            placeholder="Start"
          >
          </el-date-picker>
        </base-input>
        <base-input class="col-6" :label="$t('alert.end')" :readonly="true">
          <el-date-picker
            v-model="modalAlert.end"
            :readonly="true"
            type="datetime"
            placeholder="End"
          >
          </el-date-picker>
        </base-input>
      </div>
      <p class="description">
        {{ modalAlert.description }}
      </p>
      <template slot="footer">
        <base-button type="neutral" link @click="modal = false"
          >Close</base-button
        >
      </template>
    </modal>
  </base-nav>
</template>
<script>
import { BaseNav, Modal, BaseSwitch } from '@/components'
import { TimeSelect, DatePicker, Select, Option } from 'element-ui'
import SidebarToggleButton from './SidebarToggleButton'
export default {
  components: {
    [DatePicker.name]: DatePicker,
    [TimeSelect.name]: TimeSelect,
    [Option.name]: Option,
    [Select.name]: Select,
    SidebarToggleButton,
    BaseNav,
    Modal,
    BaseSwitch
  },
  props: {
    backgroundColor: String
  },
  data() {
    return {
      activeNotifications: false,
      showMenu: false,
      searchModalVisible: false,
      searchQuery: '',
      modal: false,
      modalAlert: {},
      sidebarMini: true,
      isFrench: true,
      isOpen: false,
      alerts: [],
      sidebarColors: [
        { color: 'primary', active: false, value: 'primary' },
        { color: 'vue', active: false, value: 'vue' },
        { color: 'info', active: false, value: 'blue' },
        { color: 'success', active: false, value: 'green' },
        { color: 'warning', active: false, value: 'orange' },
        { color: 'danger', active: false, value: 'red' }
      ]
    }
  },
  async fetch() {
    const now = this.$dayjs().format('YYYY-MM-DDTHH:mm:ss')
    this.alerts = await this.$axios
      .$get(`/alert/alerts/?start__lte=${now}&end__gte=${now}`)
      .then((res) => res)
  },
  mounted() {
    if (this.$i18n.getBrowserLocale() === undefined) {
      this.isFrench = true
    } else {
      this.isFrench = this.$i18n.getBrowserLocale() === 'fr'
    }
    const activeItem = this.sidebarColors.find((item) => {
      return item.value === this.backgroundColor
    })
    this.toggleList(this.sidebarColors, activeItem)
    if (localStorage.getItem('darkMode') !== undefined) {
      this.$store.commit(
        'localStorage/setDarkMode',
        JSON.parse(localStorage.getItem('darkMode'))
      )
    }
  },
  computed: {
    darkMode: {
      get() {
        return this.$store.state.localStorage.darkMode
      },
      set(value) {
        this.$store.commit('localStorage/setDarkMode', value)
        localStorage.setItem('darkMode', value)
      }
    },
    routeName() {
      const { path } = this.$route
      const parts = path.split('/')
      return parts.map((p) => this.capitalizeFirstLetter(p)).join(' ')
    }
  },
  watch: {
    darkMode(newValue, oldValue) {
      const docClasses = document.body.classList
      if (newValue) {
        docClasses.remove('white-content')
      } else {
        docClasses.add('white-content')
      }
    },
    isFrench(newValue, oldValue) {
      this.$i18n.setLocale(newValue ? 'fr' : 'en')
    }
  },
  methods: {
    capitalizeFirstLetter(string) {
      if (!string || typeof string !== 'string') {
        return ''
      }
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
    },

    showModal(alert) {
      this.modalAlert = alert
      this.modal = true
    },
    closeDropDown() {
      this.isOpen = false
    },
    toggleMenu() {
      this.showMenu = !this.showMenu
    },
    toggleList(list, itemToActivate) {
      list.forEach((listItem) => {
        listItem.active = false
      })
      itemToActivate.active = true
    },
    changeSidebarBackground(item) {
      this.$emit('update:backgroundColor', item.value)
      this.toggleList(this.sidebarColors, item)
    },
    minimizeSidebar() {
      this.$sidebar.toggleMinimize()
    }
  }
}
</script>
<style scoped lang="scss">
.top-navbar {
  top: 0px;
}
@import '~@/assets/sass/dashboard/custom/variables';

.settings-icon {
  cursor: pointer;
}

.badge-vue {
  background-color: $vue;
}
</style>
