<template>
  <div class="card bg-dark text-white">
    <nuxt-img
      provider="twicpics"
      class="card-img"
      style="height: 40vh; object-fit: cover"
      :src="article.img"
      :alt="article.alt"
    />
    <div class="card-img-overlay">
      <div class="absolute top-32 left-32 text-white">
        <div class="card-text mt-16 -mb-3 flex uppercase text-sm">
          <p class="mr-3">
            {{ formatDate(article.updatedAt) }}
          </p>
          <span class="mr-3">•</span>
        </div>
        <h2 class="card-title">
          {{ article.title }}
        </h2>
        <span v-for="(tag, id) in article.tags" :key="id">
          <span
            class="truncate uppercase tracking-wider font-medium text-ss px-2 py-1 rounded-full mr-2 mb-2 border border-light-border dark:border-dark-border transition-colors duration-300 ease-linear"
          >
            {{ tag }}
          </span>
        </span>
      </div>
    </div>
    <nuxt-content :document="article" class="py-8 px-8" />
    <div slot="footer" class="text-muted pb-8 px-8">
      Post last updated: {{ formatDate(article.updatedAt) }}
    </div>
  </div>
  <!-- <article
    class="d-flex w-100 lg:overflow-hidden xs:flex-column lg:flex-row"
  >
    <div class="relative lg:w-1/2 xs:w-full xs:h-84 lg:h-full post-left">
      <nuxt-img
        :src="article.img"
        :alt="article.alt"
        class="absolute h-full w-full object-cover"
      />
      <div class="overlay"></div>

    </div>
    <div
      class="relative xs:py-8 xs:px-8 lg:py-32 lg:px-16 lg:w-1/2 xs:w-full h-full overflow-y-scroll markdown-body post-right custom-scroll"
    >
      <h1 class="font-bold text-4xl">{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <p class="pb-4">Post last updated: {{ formatDate(article.updatedAt) }}</p>
      <nav class="pb-6">
        <ul>
          <li
            v-for="link of article.toc"
            :key="link.id"
            :class="{
              'font-semibold': link.depth === 2
            }"
          >
            <nuxtLink
              :to="`#${link.id}`"
              class="hover:underline"
              :class="{
                'py-2': link.depth === 2,
                'ml-2 pb-2': link.depth === 3
              }"
              >{{ link.text }}</nuxtLink
            >
          </li>
        </ul>
      </nav>
      <nuxt-content :document="article" />
      <PrevNext :prev="prev" :next="next" class="mt-8" />
    </div>
  </article> -->
</template>
<script>
export default {
  async asyncData({ $content, params }) {
    const article = await $content('articles', params.slug).fetch()
    const [prev, next] = await $content('articles')
      .only(['title', 'slug'])
      .sortBy('createdAt', 'asc')
      .surround(params.slug)
      .fetch()
    return {
      article,
      prev,
      next
    }
  },
  head() {
    return {
      title: this.article.title,
      meta: [
        {
          hid: this.article.title,
          name: this.article.title,
          content: this.article.content
        }
      ]
    }
  },
  methods: {
    formatDate(date) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' }
      return new Date(date).toLocaleDateString('en', options)
    }
  }
}
</script>
<style>
.nuxt-content p {
  margin-bottom: 20px;
}
.nuxt-content h2 {
  font-weight: bold;
  font-size: 28px;
}
.nuxt-content h3 {
  font-weight: bold;
  font-size: 22px;
}
</style>
