<template>
  <div>
    <div class="row justify-content-around">
      <div
        v-for="article of articles"
        :key="article.slug"
        class="col-12 col-xl-4 col-lg-4 col-md-6"
      >
        <NuxtLink
          :to="
            localePath({ name: 'blog-slug', params: { slug: article.slug } })
          "
          class="cardnuxt"
        >
          <card class="mb-3 text-center card-animation-on-hover">
            <nuxt-img
              slot="image"
              provider="twicpics"
              :alt="article.title"
              class="card-img-top img-fluid"
              :src="article.img"
              style="height: 12rem; object-fit: cover"
            />
            <h4 class="card-title">
              {{ article.title }}
            </h4>
            <p class="card-text">
              {{ article.description }}
            </p>
          </card>
        </NuxtLink>
      </div>
    </div>
  </div>
</template>

<script>
import { Card } from '@/components'
export default {
  components: {
    Card
  },
  async asyncData({ $content, params }) {
    const articles = await $content('articles', params.slug)
      .only(['title', 'description', 'alt', 'tags', 'img', 'slug'])
      .sortBy('createdAt', 'desc')
      .fetch()
    return {
      articles
    }
  },
  head: {
    title: 'Blog: La Descente du Rhône',
    meta: [
      {
        hid: 'Blog Notes',
        name: 'La Descente du Rhône en Bref',
        content:
          "Cette page réunit en un coup d'œil les différentes notes de blog écrit par l'auteur du site. Ces notes fournissent une documentation détaillées sur diffèrent aspect de la descente du Rhône telle que les règles de sécurités, les points d'intérêt ou l'éducation ecologique. "
      }
    ]
  }
}
</script>
